<div class="bg-light p-5 rounded mt-3">
    <h1>Listar dados</h1>
    {{#if table}}
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">OLT</th>
            <th scope="col">Slot</th>
            <th scope="col">Port</th>
            <th scope="col">Ont_id</th>
            <th scope="col">SN</th>
            <th scope="col">Run State</th>
            <th scope="col">Config State</th>
            <th scope="col">Match State</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          {{#each data}}
          <tr>
            <td class="col-md-1">{{id}}</td>
            <td class="col-md-2">{{olt}}</td>
            <td class="col-md-1">{{slot}}</td>
            <td class="col-md-1">{{port}}</td>
            <td class="col-md-1">{{ont_id}}</td>
            <td class="col-md-3">{{sn}}</td>
            <td class="col-md-2">{{run_state}}</td>
            <td class="col-md-2">{{config_state}}</td>
            <td class="col-md-2">{{match_state}}</td>
            <td>
              <div class="row">
                <div class="col-md-2">
                  <button data-bs-toggle="modal" data-bs-target="#delete_Modal_{{id}}" href="" class="btn btn-danger">Excluir</button>
                </div>
              </div>
            </td>
          </tr>
          <!-- Modal -->
          <div class="modal fade" id="delete_Modal_{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Confirmar Exclusão de Registro</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body fw-bold text-danger">
                  Tem certeza que deseja excluir o registro da ONT  {{ont_id}} ?
                </div>
                <div class="modal-footer">
                  <form action="/del" method="post">
                  <input type="hidden" name="id" value="{{id}}">
                  <button type="submit" class="btn btn-danger">Confirmar exclusão</button>
                  </form>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </tbody>
      </table>
      {{else}}
        <div class="card mt-4">
          <div class="card-body">
            Nenhum registro encontrado!
          </div>
        </div>
      {{/if}}
  </div>